/* line 5, ../sass/screen.scss */
body {
  background-image: url(../image/fond.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Titillium Web';
}

/* line 13, ../sass/screen.scss */
#nav {
  margin: -10px;
  background-color: black;
}
/* line 17, ../sass/screen.scss */
#nav li {
  display: inline-block;
  padding: 30px;
}
/* line 21, ../sass/screen.scss */
#nav a {
  text-decoration: none;
  color: white;
}
/* line 26, ../sass/screen.scss */
#nav a:hover {
  color: #e6e6e6;
}
/* line 29, ../sass/screen.scss */
#nav form {
  display: inline-block;
}
/* line 32, ../sass/screen.scss */
#nav .logo {
  width: 50px;
  height: 50px;
}
